
* {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}
main {
    width: 100%
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#heading {
    margin: 40px  0 20px 0;
}

#calculator-body {
    border-radius: 5%;
    border: solid 0.5px #cccccc;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#display {
    border: solid 1px #bbbbbb;
    width: 290px;
    margin: 5px 0 20px 0;
    height: 90px;
    border-radius: 0.5em;
    overflow: hidden;
    
}

#display-history {
    height: 26px;
    font-size:16pt;
    margin: 8px;
    color: #bbb;
    text-align: right;
    
    
}

#display-input {
    height: 32;
    font-size: 30pt;
    margin: 8px;
    text-align: right;
}

table {
    
    border-collapse: separate;
    border-spacing: 14px;
}


.button {
    width: 60px;
    height: 40px;
    font-size: 16pt;
    border: none;
    padding: 0px;
    margin: 0;
    border-radius: 12%;
    background-color: #e5e5e5;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.07s;
    
}

.button:hover {
    filter: brightness(80%);

}

.button:focus {
    outline: none !important;
}

.clicked {
    border: solid 1px darkgray;
    padding:0;
    transform: translateY(1px);
}

.operator, .special-operator {
    background-color: #b5b5b5;
}
#equals {
    background-color: darkslateblue;
    color: white;
}
